<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<iframe src="" frameborder="0"></iframe>
<!--<div id="app">-->
<!--    <input v-model="newPageName" type="text">-->
<!--    <button @click="createPage">Создать страницу</button>-->
<!--    <div v-for="(page, i) of pageList">-->
<!--        <h1 >{{i + 1}}. {{ page }} <a @click="removePage(page)" style="color: black; font-size: 14px; cursor: pointer">(x)</a> </h1>-->
<!--    </div>-->

<!--</div>-->
    <div id="app">
        <div class="panel">
            <button class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #modal-save">Опубликовать</button>
        </div>

        <div id="modal-save" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Сохранение</h2>
                <p>Вы действительно хотите сохранить и опубликовать изменения?</p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="onBtnSave">Опубликовать</button>
                </p>
            </div>
        </div>
        <div class="loader" :class="{active: loader}">
            <span uk-spinner="ratio: 4.5"></span>
        </div>
    </div>



<script src="bundle.js" ></script>
</body>
</html>