<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <iframe src="" frameborder="0"></iframe>
    <input id="img-upload" type="file" accept="image/*" style="display: none">


    <div id="app">
        <div class="panel" v-if="auth">
            <div>
                <button class="uk-button uk-button-default uk-button-small" uk-toggle="target: #modal-open">Открыть</button>
                <button class="uk-button uk-button-default uk-button-small" uk-toggle="target: #modal-meta">Редактор МЕТА</button>
            </div>
            <div>
                <button class="uk-button uk-button-primary" uk-toggle="target: #modal-save">Опубликовать</button>
                <button class="uk-button uk-button-primary btn-down"><i class="fas fa-chevron-down"></i></button>
                <div class="dropdown" uk-dropdown>
                    <button class="uk-button uk-button-default btn-down" uk-toggle="target: #modal-backup">Восстановить из бекапа</button>
                </div>
                <button class="uk-button uk-button-default btn-down" uk-toggle="target: #modal-logout">Выйти</button>
            </div>
        </div>
        <div id="modal-open" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Открыть</h2>
                <ul class="uk-list uk-list-striped">
                    <li v-for="list in pageList">
                        <a class="uk-link-muted uk-modal-close" href="#" @click="openPage(list)">{{list}}</a>
                    </li>

                </ul>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                </p>
            </div>
        </div>
        <div id="modal-meta" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Редактирование МЕТА тегов</h2>
                <form>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Title" v-model="meta.title">
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="Keywords" v-model="meta.keywords"></textarea>
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="Description" v-model="meta.desc"></textarea>
                    </div>
                </form>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="applyMeta">Применить</button>
                </p>
            </div>
        </div>

        <div id="modal-save" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Сохранение</h2>
                <p>Вы действительно хотите сохранить и опубликовать изменения?</p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="onBtnSave">Опубликовать</button>
                </p>
            </div>
        </div>
        <div id="modal-logout" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Сохранение</h2>
                <p>Вы действительно хотите покинуть админку? Не сохранненные изменения могут быть потеряны!</p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="logout">Выйти</button>
                </p>
            </div>
        </div>
        <div id="modal-backup" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Восстановление из бекапа</h2>
                <ul class="uk-list uk-list-striped">
                    <p v-if="backupList.length < 1">Не найдено резервных копй на странице</p>
                    <li v-for="backup in backupList">
                        <a class="uk-link-muted uk-modal-close" href="#" @click="restoreBackup(backup)">Резервная копия от: {{backup.time}}</a>
                    </li>

                </ul>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                </p>
            </div>
        </div>
        <div class="loader" :class="{active: loader}">
            <span uk-spinner="ratio: 4.5"></span>
        </div>
        <div class="login-container" v-if="!auth">
            <div class="login">
                <h2 class="uk-modal-title">Авторизация</h2>
                Пароль:
                <input type="password" name="" @keyup.enter="login" id="" class="uk-input" placeholder="Пароль" v-model="password">
                <p class="login-error" v-if="loginError">Неверный пароль!</p>
                <button class="uk-button uk-button-primary" type="button" @click="login">Войти</button>
            </div>
        </div>
    </div>



<script src="bundle.js" ></script>
</body>
</html>